---
import Hero from "../components/Hero.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Sobre mi">
  <div class="container col-xxl-8 px-4 py-5">
    <Hero
      title="Sobre mi"
      imageUrl="https://placekitten.com/g/500/400"
      buttonText="Volver"
      buttonLink="/"
    >
      <p class="lead">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </Hero>
  </div>
</SiteLayout>
