<footer class="py-3 mt-4 border-top fixed-bottom bg-primary">
  <p class="text-center text-white">
    Creado gracias al bootcamp de <a href="https://webreactiva.com">Web Reactiva</a>
  </p>
</footer>

<style>
  a {
    color: white;
  }
</style>